.map-location {
  position: absolute;
  display: block;
  width: 430px;
  height: 290px;
}

.contact-us {
  min-height: 290px;
  max-height: 290px;
  padding-left: 460px;
}

.contact-us .divider div {
  width: 90px;
}

.contact-us p {
  margin-bottom: 20px;
}

.contact-us span:not(:last-child) {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.contact-us span .fa {
  position: relative;
  top: -1px;
  margin-right: 10px;
  color: #ffb79b;
}

@media screen and (max-width: 767px) {
  .map-location {
    position: relative;
    display: block;
    width: 100%;
    height: 290px;
  }
  .contact-us {
    min-height: 0;
    max-height: none;
    width: auto;
    height: auto;
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .map-location {
    width: 320px;
  }
  .contact-us {
    padding-left: 350px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .map-location {
    width: 300px;
  }
  .contact-us {
    padding-left: 330px;
  }
}