blockquote {
  margin: 50px 0;
  padding-left: 30px;
  border-left: 4px solid #ffb79b;
  font-size: 15.5px;
}

.tags {
  height: 40px;
  margin-bottom: 0 !important;
  line-height: 41px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.post-content h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
}

.post-content ol {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
  counter-reset: item;
}

.post-content ol li:not(:last-child) {
  margin-bottom: 15px
}

.post-content ol li:before {
  content: counter(item) '- ';
  counter-increment: item;
}

.image-massive {
  margin-bottom: 30px;
}

.image-massive img {
  margin-bottom: 10px;
  float: left;
}

.image-massive .main-button {
  width: 100%;
}


/* Расчеты и грид статичной внутрепостовой плиточной галереи */

.image-massive img:nth-child(5n+1),
.image-massive img:nth-child(5n+3),
.image-massive img:nth-child(5n+4) {
  width: 600px;
  height: 170px;
  margin-right: 10px;
}

.image-massive img:nth-child(5n+2),
.image-massive img:nth-child(5n+3) {
  width: 206px;
  height: 170px;
}

.image-massive img:nth-child(5n+4) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .image-massive img:nth-child(5n+1),
  .image-massive img:nth-child(5n+2),
  .image-massive img:nth-child(5n+3),
  .image-massive img:nth-child(5n+4) {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .image-massive img:nth-child(5n+1),
  .image-massive img:nth-child(5n+3),
  .image-massive img:nth-child(5n+4) {
    width: 523px;
    height: 150px;
    margin-right: 10px;
  }
  .image-massive img:nth-child(5n+2),
  .image-massive img:nth-child(5n+3) {
    width: 156px;
    height: 150px;
  }
  .image-massive img:nth-child(5n+4) {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .image-massive img:nth-child(5n+1),
  .image-massive img:nth-child(5n+3),
  .image-massive img:nth-child(5n+4) {
    width: 520px;
    height: 150px;
    margin-right: 10px;
  }
  .image-massive img:nth-child(5n+2),
  .image-massive img:nth-child(5n+3) {
    width: 136px;
    height: 150px;
  }
  .image-massive img:nth-child(5n+4) {
    margin-right: 0;
  }
  /* Грид для полей формы отправки комментариев */
  .full-viwe-post .leave-comment #name,
  .full-viwe-post .leave-comment #email,
  .contact-us + .leave-comment #name,
  .contact-us + .leave-comment #email {
    width: 348.7px;
  }
}

@media screen and (min-width: 1200px) {
  .full-viwe-post .leave-comment #name,
  .full-viwe-post .leave-comment #email,
  .contact-us + .leave-comment #name,
  .contact-us + .leave-comment #email {
    width: 423.7px;
  }
}


/* Популярные посты */

.pop-post-content .divider div,
.posted-comments .divider div {
  width: 140px;
}

.pop-post-content img {
  width: 100%;
}

.pop-post-content h4 {
  height: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.pop-post-mini {
  position: relative;
  display: inline-block;
}

.pop-post-mini:not(:nth-last-child(2)) {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .pop-post-mini {
    left: 50%;
    display: block;
    width: 220px;
    margin: 0;
    margin-left: -110px;
    margin-bottom: 10px;
  }
  .pop-post-mini:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pop-post-mini {
    width: 217px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .pop-post-mini {
    width: 209.7px;
  }
}

@media screen and (min-width: 1200px) {
  .pop-post-mini {
    width: 259.7px;
  }
}


/* Блок автора */

.author-block {
  margin-bottom: 10px;
}

.author-block img {
  position: absolute;
  display: inline-block;
  width: 210px;
  height: 185px;
}

.author-block-content {
  min-height: 185px;
  max-height: 185px;
  padding-left: 230px;
}

.author-block-content h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.author-block-content .reg-link {
  margin-top: -16.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.author-block-content .divider div {
  width: 140px;
}

.author-block-content p {
  margin: 0;
  max-height: 40px;
  font-size: 13px;
  overflow: hidden;
}

.author-social {
  margin-bottom: 30px;
}

.author-social .button {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 40px;
  margin-right: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.author-social .button:last-child {
  margin: 0;
}

.author-social .button .counter {
  font-weight: normal;
}

.author-social .fa {
  width: 60px;
  height: 40px;
  margin-right: 20px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  border-right: 1px solid #eaeaeb;
}

.author-social .button,
.author-social .fa,
.message .reply {
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.author-social .button:hover .fa {
  color: #ffb79b;
  background-color: #fff;
}

.author-social .button:hover {
  color: #fff;
  background-color: #424242;
}

@media screen and (max-width: 767px) {
  .author-social .button {
    width: 100%
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .author-social .button {
    width: 227.6px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .author-social .button {
    width: 220px;
  }
}


/* Блок с опубликованными комментариями */

.comment-content {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaeb;
}

.comment-content.answer {
  padding-left: 70px;
}

.comment-content:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.comment-content img {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 60px;
}

.comment-content .message {
  padding-left: 90px;
}

.message .user-name,
.message .reply {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.message .reply {
  margin-top: 1.5px;
  cursor: pointer;
}

.message .reply:hover {
  color: #ffb79b
}

.message .date {
  position: relative;
  display: block;
  max-width: 80px;
  margin-left: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
}

.message p {
  font-size: 13px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .comment-content.answer {
    padding-left: 0;
  }
}