body {
  background-color: #f7f7f7;
}

body,
.life-style-navbar a,
.life-style-navbar-mobile a {
  font-family: 'Raleway', sans-serif;
  color: #313131;
}

.reg-link,
.reg-link:visited,
.reg-link:link {
  text-decoration: none;
  color: #ffb79b;
}

.reg-link:hover,
.reg-link:active,
.reg-link:focus {
  text-decoration: underline;
  color: #ffb79b;
}

.title-link,
.title-link:visited,
.title-link:link {
  text-decoration: none !important;
  color: #424242 !important;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.title-link:hover,
.title-link:active,
.title-link:focus {
  color: #ffb79b !important;
}


/* Стили для шапки-меню */

.life-style-navbar {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #cecece;
  line-height: 50px;
}

.life-style-navbar .container {
  position: relative;
  display: block;
  height: 50px;
}

.search-submit,
.social-links {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0;
}

.social-links {
  text-align: right;
}

.ls-button,
.submit-story {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: -5px;
  text-align: center;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  border-left: 1px solid #eaeaeb;
  cursor: pointer;
  overflow: hidden;
}

.submit-story {
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.submit-story,
.ls-button:last-child,
.social-links-drop-menu {
  border-right: 1px solid #eaeaeb;
  margin: 0;
}

.life-style-navbar ul,
.life-style-navbar-mobile ul {
  position: relative;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  list-style: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.life-style-navbar ul li,
.life-style-navbar-mobile ul li {
  position: relative;
  display: inline-block;
  width: auto;
}

.life-style-navbar ul li a,
.life-style-navbar-mobile ul li a {
  position: relative;
  display: inline-block;
  width: auto;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.life-style-navbar-mobile ul li a {
  width: 100%;
  padding: 0;
}

.life-style-navbar-mobile ul {
  height: auto;
  border-bottom: 1px solid #cecece;
}

.life-style-navbar-mobile ul,
.life-style-navbar-mobile ul li {
  display: block;
}

.life-style-navbar a:hover,
.life-style-navbar a:focus,
.life-style-navbar a:active,
.life-style-navbar-mobile a:hover,
.life-style-navbar-mobile a:focus,
.life-style-navbar-mobile a:active,
.submit-story:hover,
.search:hover,
.social-links-drop-menu:hover,
.life-style-logo-header a:hover,
.mobile-menu-button:hover {
  text-decoration: none;
  color: #ffb79b;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.life-style-logo-header {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 15px;
  line-height: 50px;
  font-family: 'Notera';
  font-size: 45px;
  color: #313131;
}

.life-style-logo-header a {
  font-family: 'Notera';
}

.mobile-menu-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.social-links-mobile {
  position: absolute;
  display: block;
  width: 45px;
  height: 0;
  margin-left: -1px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  background-color: #eaeaeb;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  overflow: hidden;
  z-index: 30;
}

.social-links-mobile a,
.social-links-mobile a:last-child {
  display: block;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.social-links-mobile-active {
  height: 250px;
}

.social-links-drop-menu-active {
  color: #ffb79b;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-color: #eaeaeb;
  overflow: visible;
}

.mobile-menu-button-active {
  color: #ffb79b;
  border-left: 1px solid #cecece;
  background-color: #eaeaeb;
}

.life-style-navbar-mobile {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background-color: #eaeaeb;
  box-shadow: 0 5px 5px 0 #cecece;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  overflow: hidden;
  z-index: 30;
}

.life-style-navbar-mobile-active {
  height: 401px;
}

.life-style-navbar-mobile .social-links {
  width: 100%;
  text-align: center;
  font-size: 20px
}

.search-field {
  position: relative;
  top: -21px;
  display: inline-block;
  width: 0;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 0;
  background-color: #F2F2F2;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.search-field:focus,
.search-field:active {
  border-right: 1px solid #cecece;
  background-color: #eaeaeb;
}

.search-field-active {
  width: 105px;
}

.search-active {
  color: #ffb79b;
}

.submit-story-deactive {
  width: 0;
  border: 0;
}


/* Грид-система для шапки-меню */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search-submit {
    width: 170px;
  }
  .life-style-navbar ul {
    width: 525px;
  }
  .social-links {
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .search-submit {
    width: 159px;
  }
  .social-links-drop-menu {
    width: 45px;
  }
}


/* Стили для блока с логотипом */

.life-style-logo-block {
  height: 200px;
  text-align: center;
}

.ls-logo-big {
  position: relative;
  display: block;
  width: 280px;
  height: 95px;
  margin: 48px auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
}

.ls-logo-big span {
  position: relative;
  display: block;
}

.ls-title {
  height: 100px;
  margin-top: -15px;
  font-family: 'Notera';
  font-size: 80px;
}

.tag {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffb79b;
  text-transform: uppercase;
  background-color: #fff;
}


/* Стили слайдера */

.life-style-carousel {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.ls-arrow,
.instagram-arrow {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 25;
  cursor: pointer;
}

.right {
  left: -100px;
  margin-left: 100%;
}

.ls-arrow span,
.instagram-arrow i {
  position: relative;
  display: block;
  top: 50%;
  margin-top: -20px;
}

.ls-arrow.left:hover,
.ls-arrow.right:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffb79b;
}

.image {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.image img {
  width: 100%;
}

.image.active {
  position: relative !important;
  left: 0 !important;
  display: block !important;
}

.image.next {
  left: 100%;
  display: block !important;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.current {
  left: 0 !important;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.image.prev {
  left: -100%;
  display: block;
}

.image.right {
  left: 100% !important;
  -webkit-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.image.left {
  left: -100% !important;
}

.life-style-carousel-indi {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #eaeaeb;
}

.life-style-carousel-indi li {
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: left;
  border-bottom: 2px solid #CECECE;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.life-style-carousel-indi li.active,
.life-style-carousel-indi li:hover {
  color: #ffb79b;
  border-bottom: 2px solid #ffb79b;
}


/* Грид система для слайдера */

@media screen and (max-width: 767px) {
  .ls-arrow {
    width: 50px;
  }
  .right {
    left: -50px;
  }
  .life-style-carousel-indi li {
    display: block;
    width: 100%;
    text-align: center;
  }
}


/* Большая галерея Инстаграмма */

.instagram-big {
  margin-top: 20px;
  margin-bottom: 50px;
}

.insta-title {
  position: relative;
  top: 15px;
  display: block;
  width: 140px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #ffb79b;
  z-index: 2;
}

.insta-slider {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.instagram-arrow {
  width: 35px;
  background-color: rgba(255, 183, 155, 0.9);
  color: #fff;
  font-size: 20px;
}

.instagram-arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #ffb79b;
}

.instagram-arrow.right {
  left: -35px;
}

.instagram-arrow i {
  margin-top: -10px;
}

.insta-slider ul {
  position: relative;
  display: block;
  width: 9999%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.insta-slider ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  float: left;
}

.insta-slider ul li img {
  width: auto;
  max-height: 200px
}

.insta-arrow-disabled,
.insta-arrow-disabled:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}


/* Стили основного контента сайта */

.right-container {
  padding-left: 60px;
}

.title-section {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaeb;
}

.rc,
.sd {
  position: relative;
  top: 1px;
  width: auto;
  height: auto;
  padding-right: 35px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #ffb79b;
}


/* Стили для предпросмотра статьи */

.post {
  margin-bottom: 30px;
  padding: 0;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
  background-color: #fff;
}

.post img {
  width: 100%;
}

.post .fa-camera {
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ffb79b;
}

.preview-post {
  padding: 40px 30px;
}

.preview-post h3 {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.divider {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaeb;
}

.divider div {
  position: relative;
  display: block;
  width: 200px;
  height: 1px;
  border-bottom: 2px solid #ffb79b;
}

.post-info {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #424242;
}

.date {
  margin-left: 15px;
}

.preview-post p {
  margin-bottom: 30px;
}

.regular .preview-post p {
  max-height: 40px;
  overflow: hidden;
}

.main-button {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #ffb79b;
  border-radius: 0;
  background-color: #ffb79b;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.share {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  padding: 0;
}

.main-button:hover,
.footer .fa-chevron-up:hover {
  color: #424242;
  border: 1px solid #eaeaeb;
  background-color: #fff;
}

.post-social-links {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.post-social-links i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: -5px;
  line-height: 40px;
  text-align: center;
  color: #313131;
  border: 1px solid #eaeaeb;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post-social-links i:hover {
  color: #ffb79b;
}

.mini-top-left {
  margin-right: 31px;
}


/* Грид для предпросмотра постов */

@media screen and (max-width: 767px) {
  .mini-top-left,
  .mini-top-right {
    width: 100%;
    margin-right: 0;
  }
  .regular img {
    float: none;
  }
  .regular .preview-post p {
    max-height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .mini-top-left,
  .mini-top-right {
    width: 100%;
    margin-right: 0;
  }
  .regular img {
    width: 250px;
    height: 237px;
    float: left;
  }
  .regular .preview-post {
    position: relative;
    display: inline-block;
    max-width: 490px;
    height: 237;
    max-height: 237px;
    padding: 15px 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mini-top-left,
  .mini-top-right {
    display: inline-block;
    width: 350px;
  }
  .mini-top-left {
    margin-right: 23px;
  }
  .mini-top-left .fa-google-plus,
  .mini-top-right .fa-google-plus {
    display: none;
  }
  .regular img {
    width: 250px;
    height: 237px;
    float: left;
  }
  .regular .preview-post {
    position: relative;
    display: inline-block;
    max-width: 476px;
    height: 236px;
    max-height: 237px;
    padding: 16px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .mini-top-left,
  .mini-top-right {
    display: inline-block;
    width: 421px;
  }
  .regular img {
    width: 300px;
    height: 285px;
    float: left;
  }
  .regular .preview-post {
    position: relative;
    display: inline-block;
    max-width: 576px;
    height: 285px;
    max-height: 285px;
  }
}


/* Стили элемнтов правого контейнера */


/* Поле поиска */

.main-search-field input,
.subscribe-field input:not(:last-child) {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 0;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.main-search-field .fa-search {
  position: absolute;
  top: 61px;
  left: -50px;
  display: inline-block;
  width: 49px;
  height: 49px;
  margin-left: 100%;
  line-height: 49px;
  text-align: center;
  background-color: #fff;
  z-index: 2;
}


/* Популярные посты */

.popular-posts,
.ads,
.side-bar-catagoreis,
.mini-instagram,
.mini-social-links,
.post-slider {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 30px 20px;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
  background-color: #fff;
}

.popular-posts h3,
.side-bar-catagoreis h3,
.mini-instagram h3,
.mini-social-links h3,
.post-slider h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.popular-posts .divider div,
.side-bar-catagoreis .divider div,
.mini-instagram .divider div,
.mini-social-links .divider div,
.post-slider .divider div {
  width: 130px;
}

.previwe-mini-post {
  margin-bottom: 20px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eaeaeb;
}

.previwe-mini-post:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.previwe-mini-post .post-info {
  margin-left: 80px;
}

.previwe-mini-post .post-info h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.previwe-mini-post .post-info span {
  font-size: 12px;
  font-weight: normal;
}


/* Спонсорский блок */

.ads {
  padding: 10px;
}

.ads img {
  width: 100%;
  height: 100%;
  border: 2px solid #ffb79b;
}


/* Блок с категориями */

.side-bar-catagoreis ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar-catagoreis ul li {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #eaeaeb;
}

.side-bar-catagoreis ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}


/* Блок-плитка Инстаграма */

.img-picker {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaeb;
}

.img-picker img {
  float: left;
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .img-picker img {
    width: 77px;
    height: 77px;
  }
}


/* Блок с социальными ссылками */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mini-social-links .post-social-links .fa {
    width: 25px;
  }
  .mini-social-links .share {
    width: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .mini-social-links .post-social-links .fa {
    width: 35px;
  }
  .mini-social-links .share {
    width: 30px;
  }
}


/* Слайдер постов */

.little-slider-post {
  position: relative;
  display: block;
  width: 100%;
  height: 170px;
  border: 1px solid #eaeaeb;
}

.post-slider-arrow i {
  position: absolute;
  top: -35px;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 50%;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #ffb79b;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.post-slider-arrow .fa-chevron-right {
  left: -35px;
  margin-left: 100%;
}

.post-slider-arrow i:hover {
  color: #ffb79b;
  background-color: #fff;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .post-slider-arrow i {
    top: -10px;
  }
}


/* Футер */

.footer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 85px;
  margin-bottom: 60px;
  border-top: 2px solid #ffb79b;
}

.footer .fa-chevron-up {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ffb79b;
  border: 1px solid #ffb79b;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.footer .divider div {
  width: 90px;
}

.about-me,
.s-and-n {
  padding-right: 15px;
}

.s-and-n,
.latest-tweet {
  padding-left: 15px;
}

.about-me img,
.about-me .main-button {
  width: 100%;
}

.about-me img,
.about-me p {
  margin-bottom: 20px;
}


/* Грид-система для футера */

@media screen and (max-width: 767px) {
  .about-me,
  .s-and-n {
    padding: 0;
    margin-bottom: 30px;
  }
  .latest-tweet {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .s-and-n {
    padding: 0;
    padding-left: 15px;
  }
  .latest-tweet {
    padding: 0;
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .s-and-n {
    padding: 0;
    padding-left: 15px;
  }
  .latest-tweet {
    padding: 0;
    margin-top: 30px;
  }
}


/* Последние твиты */

.tweet-from-tweeter {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaeb;
}

.tweet-from-tweeter span {
  position: relative;
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.tweet-from-tweeter a {
  font-size: 12px;
}

.tweet-from-tweeter:last-child {
  margin-bottom: 0;
}


/* Форма подписки */

.s-and-n p {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.subscribe-field input:last-child {
  width: 100%;
}


/* Модальное окно */

.can-be-big {
  border: 1px solid #fff;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.can-be-big:hover {
  border-color: #ffb79b;
}

.modal-img {
  position: fixed;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 30;
}

.slide-down-modal {
  top: 0%;
}

.container-big-img {
  position: relative;
  display: block;
  min-width: 620px;
  width: 620px;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
}

.container-big-img img {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.container-big-img .main-button {
  width: 49%;
}

@media screen and (max-width: 767px) {
  .container-big-img {
    min-width: 100%;
    width: 100%;
  }
}