@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ╨ж╨▓╨╡╤В╨░ */
/* ╨и╤А╨╕╤Д╤В╤Л ╨╕ ╤А╨░╨╖╨╝╨╡╤А╤Л */
@keyframes warn {
  0% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  75% {
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
@keyframes rotate-card-normal {
  0% {
    -moz-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    -ms-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    -webkit-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    transform: scale(1.1) perspective(1000px) rotateY(0deg);
  }
  100% {
    -moz-transform: scale(1.1) perspective(1000px) rotateY(90deg);
    -ms-transform: scale(1.1) perspective(1000px) rotateY(90deg);
    -webkit-transform: scale(1.1) perspective(1000px) rotateY(90deg);
    transform: scale(1.1) perspective(1000px) rotateY(90deg);
  }
}
@keyframes rotate-card-reverse {
  0% {
    -moz-transform: scale(1.1) perspective(1000px) rotateY(-90deg);
    -ms-transform: scale(1.1) perspective(1000px) rotateY(-90deg);
    -webkit-transform: scale(1.1) perspective(1000px) rotateY(-90deg);
    transform: scale(1.1) perspective(1000px) rotateY(-90deg);
  }
  100% {
    -moz-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    -ms-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    -webkit-transform: scale(1.1) perspective(1000px) rotateY(0deg);
    transform: scale(1.1) perspective(1000px) rotateY(0deg);
  }
}
/* ╨Э╨░╤З╨░╨╗╨╛ ╨▓╤Б╨╡╤Е ╤Б╤В╨╕╨╗╨╡╨╣ */
html, body {
  height: auto;
  min-height: 100%;
  font-family: "Anonymous Pro";
  font-size: 14px;
  color: #383838;
  background-color: #eaeaea;
}

/* ╨Я╤А╨╡╨╗╨╛╨░╨┤╨╡╤А */
#preload {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 2em;
  color: inherit;
  background-color: inherit;
  z-index: 100;
}
#preload span {
  position: relative;
  display: block;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ╨Ъ╨╛╨╜╨╡╤Ж ╨┐╤А╨╡╨╗╨╛╨░╨┤╨╡╤А╨░ */
/* ╨б╤В╨╕╨╗╨╕ ╨╛╨║╨╜╨░ ╨╖╨░╨┐╤А╨╛╤Б╨░ ╨┤╨░╤В╤Л */
.ask-date {
  position: relative;
  display: block;
  width: 500px;
  height: auto;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 2px 2px 0 #e0e0e0;
  border: 1px solid #e0e0e0;
  background-color: #f4f4f4;
  -moz-box-shadow: 10px 10px 10px 0 #e0e0e0;
  -webkit-box-shadow: 10px 10px 10px 0 #e0e0e0;
  box-shadow: 10px 10px 10px 0 #e0e0e0;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.ask-date span {
  position: relative;
  display: block;
  margin-bottom: 25px;
  font-size: 1.9em;
}
.ask-date div {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.ask-date div input {
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: inherit;
  font-size: 1.9em;
  color: inherit;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.ask-date div input:first-child {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
.ask-date div input:last-child {
  width: 100px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}
.ask-date div input:focus {
  border-color: #b7b7b7;
}
.ask-date #start {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Anonymous Pro";
  font-size: 1.9em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.btn-active {
  color: inherit;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}
.btn-active:hover {
  border-color: #b7b7b7;
}
.btn-active:active {
  -moz-box-shadow: inset 2px 2px 2px #e0e0e0;
  -webkit-box-shadow: inset 2px 2px 2px #e0e0e0;
  box-shadow: inset 2px 2px 2px #e0e0e0;
}

.btn-disabled {
  color: #9e9e9e;
  border: 1px solid #e0e0e0;
  background-color: #e5e5e5;
  text-shadow: 1px 1px 1px #fff;
}

.helper {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  font-size: 1.1em;
  color: inherit;
  text-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 0, 0, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px 0 #e0e0e0;
  -webkit-box-shadow: 10px 10px 5px 0 #e0e0e0;
  box-shadow: 10px 10px 5px 0 #e0e0e0;
}
.helper .arrow {
  position: absolute;
  display: inline-block;
}
.helper .arrow-to-bottom {
  border: 10px solid transparent;
  border-top: 10px solid rgba(255, 0, 0, 0.9);
}
.helper .arrow-to-top {
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 0, 0, 0.9);
}

.hide {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* ╨Ъ╨╛╨╜╨╡╤Ж ╤Б╤В╨╕╨╗╨╡╨╣ ╨╛╨║╨╜╨░ ╨╖╨░╨┐╤А╨╛╤Б╨░ ╨┤╨░╤В╤Л */
/* ╨б╨╡╤В╨║╨░-╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В */
#result {
  position: absolute;
  display: block;
  text-align: center;
  visibility: hidden;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.feature {
  position: absolute;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  text-shadow: 2px 2px 0 #e0e0e0;
  border: 1px solid #e0e0e0;
  background-color: #f4f4f4;
  -moz-box-shadow: 10px 10px 10px 0 #e0e0e0;
  -webkit-box-shadow: 10px 10px 10px 0 #e0e0e0;
  box-shadow: 10px 10px 10px 0 #e0e0e0;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-property: -moz-transform, border-color;
  -o-transition-property: -o-transform, border-color;
  -webkit-transition-property: -webkit-transform, border-color;
  transition-property: transform, border-color;
  cursor: pointer;
}
.feature:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
.feature span {
  position: relative;
  display: inline-block;
}

/* ╨Ъ╨╛╨╜╨╡╤Ж ╤Б╤В╨╕╨╗╨╡╨╣ ╤Б╨╡╤В╨║╨╕-╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╨░ */
/* ╨б╤В╨╕╨╗╨╕-╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ */
.warn {
  color: rgba(255, 0, 0, 0.9);
  -moz-animation: warn 0.3s linear;
  -webkit-animation: warn 0.3s linear;
  animation: warn 0.3s linear;
}

.rotate-card-normal {
  -moz-animation: rotate-card-normal 0.5s ease-in forwards;
  -webkit-animation: rotate-card-normal 0.5s ease-in forwards;
  animation: rotate-card-normal 0.5s ease-in forwards;
  z-index: 2;
}

.rotate-card-reverse {
  -moz-animation: rotate-card-reverse 0.5s ease-out forwards;
  -webkit-animation: rotate-card-reverse 0.5s ease-out forwards;
  animation: rotate-card-reverse 0.5s ease-out forwards;
  z-index: 2;
}

/* *** */
/* ╨Ъ╨╜╨╛╨┐╨║╨░ ╤Б╨▒╤А╨╛╤Б╨░ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╨░ */
#restart {
  position: fixed;
  top: 0;
  display: block;
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  font-family: inherit;
  font-size: 1.9em;
  color: inherit;
  text-shadow: 2px 2px 0 #e0e0e0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: rgba(244, 244, 244, 0.8);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

/* ╨Ъ╨╛╨╜╨╡╤Ж ╤Б╤В╨╕╨╗╨╡╨╣ ╨║╨╜╨╛╨┐╨║╨╕ ╤Б╨▒╤А╨╛╤Б╨░ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╨░ */
/* ╨Ъ╨╛╨╜╨╡╤Ж ╨▓╤Б╨╡╤Е ╤Б╤В╨╕╨╗╨╡╨╣ */
/* ╨Я╤А╨░╨▓╨╕╨╗╨░ ╨░╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╨│╨╛ ╨┤╨╕╨╖╨░╨╣╨╜╨░ (╤А╨░╨╖╨╝╨╡╤Й╨╡╨╜╨╕╨╡ ╨▓ ╨║╨╛╨╜╤Ж╨╡ ╨║╨╛╨┤╨░ ╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╤М╨╜╨╛) */
@media screen and (max-width: 565px) {
  .ask-date {
    width: 95%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ask-date span {
    font-size: 1.1em;
  }
  .ask-date div input, .ask-date div input:first-child, .ask-date div input:last-child {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .ask-date #start {
    font-size: 1.1em;
    width: 100%;
  }

  .helper {
    width: 85%;
  }

  .feature:hover {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #b7b7b7;
  }

  @keyframes rotate-card-normal {
    0% {
      -moz-transform: perspective(1000px) rotateY(0deg);
      -ms-transform: perspective(1000px) rotateY(0deg);
      -webkit-transform: perspective(1000px) rotateY(0deg);
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      -moz-transform: perspective(1000px) rotateY(90deg);
      -ms-transform: perspective(1000px) rotateY(90deg);
      -webkit-transform: perspective(1000px) rotateY(90deg);
      transform: perspective(1000px) rotateY(90deg);
    }
  }
  @keyframes rotate-card-reverse {
    0% {
      -moz-transform: perspective(1000px) rotateY(-90deg);
      -ms-transform: perspective(1000px) rotateY(-90deg);
      -webkit-transform: perspective(1000px) rotateY(-90deg);
      transform: perspective(1000px) rotateY(-90deg);
    }
    100% {
      -moz-transform: perspective(1000px) rotateY(0deg);
      -ms-transform: perspective(1000px) rotateY(0deg);
      -webkit-transform: perspective(1000px) rotateY(0deg);
      transform: perspective(1000px) rotateY(0deg);
    }
  }
  #restart {
    width: 100%;
    font-size: 1.1em;
    border-right: 0;
  }
}
