@import "compass/reset"; //Сброс предустановленных стилей.
@import "compass/css3"; //Правила css с вендорными префиксами и другое.
@import "meta/variables"; //SASS-составляющая с набором цветов.
@import "meta/animate"; //SASS-составляющая с набором анимаций.
@import "compass/utilities/sprites"; //Утилита Compass, создающая спрайты.

/* Начало всех стилей */

html, body {
  height: auto;
  min-height: 100%;
  font-family: $main-font;
  font-size: $main-font-size;
  color: $main-font-color;
  background-color: $bg-body;
}

/* Прелоадер */
#preload {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 2em;
  color: inherit;
  background-color: inherit;
  z-index: 100;
  span {
    position: relative;
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
/* Конец прелоадера */

/* Стили окна запроса даты */
.ask-date {
  position: relative;
  display: block;
  width: 500px;
  height: auto;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include text-shadow(2px 2px 0 $border-ask-block-color);
  border: 1px solid $border-ask-block-color;
  background-color: $bg-ask-block-color;
  @include box-shadow(10px 10px 10px 0 $border-ask-block-color);
  @include transition(0.4s transform);
  span {
    position: relative;
    display: block;
    margin-bottom: 25px;
    font-size: 1.9em;
  }
  div {
    position: relative;
    display: block;
    margin-bottom: 25px;
    input {
      position: relative;
      display: inline-block;
      @include box-sizing(border-box);
      width: 50px;
      height: 50px;
      text-align: center;
      font-family: inherit;
      font-size: 1.9em;
      color: inherit;
      border: 1px solid $border-ask-block-color;
      background-color: $bg-input;
      @include transition(0.4s all);
      &:first-child {
        @include border-radius(5px 0 0 5px);
      }
      &:last-child {
        width: 100px;
        @include border-radius(0 5px 5px 0);
      }
      &:focus {
        border-color: $border-ask-block-color-active;
      }
    }
  }
  #start {
    position: relative;
    display: block;
    @include box-sizing(border-box);
    width: auto;
    min-height: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: $main-font;
    font-size: 1.9em;
    @include border-radius(5px);
    @include transition(0.4s all);
    cursor: pointer;
  }
}

.btn-active {
  color: inherit;
  border: 1px solid $border-ask-block-color;
  background-color: $bg-input;
  &:hover {
    border-color: $border-ask-block-color-active;
  }
  &:active {
    @include box-shadow(inset 2px 2px 2px $border-ask-block-color);
  }
}

.btn-disabled {
  color: $disabled-font-color;
  border: 1px solid $border-ask-block-color;
  background-color: $bg-disabled;
  @include text-shadow(1px 1px 1px #fff);
}

.helper {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  font-size: 1.1em;
  color: inherit;
  @include text-shadow(1px 1px 1px #fff);
  background-color: $bg-helper;
  @include border-radius(5px);
  @include box-shadow(10px 10px 5px 0 $border-ask-block-color);
  .arrow {
    position: absolute;
    display: inline-block;
  }
  .arrow-to-bottom {
    border: 10px solid transparent;
    border-top: 10px solid $bg-helper;
  }
  .arrow-to-top {
    border: 10px solid transparent;
    border-bottom: 10px solid $bg-helper;
  } 
}

.hide {
  @include transform(scale(0.0));
}
/* Конец стилей окна запроса даты */

/* Сетка-результат */
#result {
  position: absolute;
  display: block;
  text-align: center;
  visibility: hidden;
}

.feature {
  position: absolute;
  display: inline-block;
  @include box-sizing(border-box);
  padding: 25px;
  text-align: center;
  @include text-shadow(2px 2px 0 $border-ask-block-color);
  border: 1px solid $border-ask-block-color;
  background-color: $bg-ask-block-color;
  @include box-shadow(10px 10px 10px 0 $border-ask-block-color);
  @include transition-duration(0.4s);
  @include transition-property(transform, border-color);
  cursor: pointer;
  &:hover {
    @include transform(scale(1.1));
    z-index: 2;
  }
  span {
    position: relative;
    display: inline-block;
  }
}
/* Конец стилей сетки-результата */

/* Стили-анимации */
.warn {
  color: $bg-helper;
  @include animation(warn 0.3s linear);
}

.rotate-card-normal {
  @include animation(rotate-card-normal 0.5s ease-in forwards);
  z-index: 2;
}

.rotate-card-reverse {
  @include animation(rotate-card-reverse 0.5s ease-out forwards);
  z-index: 2;
}
/* *** */


/* Конец всех стилей */

/* Правила адаптивного дизайна (размещение в конце кода обязательно) */
@import "meta/adaptive";