@media screen and (max-width: 565px) {
  .ask-date {
    width: 95%;
    @include box-sizing(border-box);
    span {
      font-size: 1.1em;
      h1 {
        font-size: 1.3em;
      }
    }
    div {
      input, input:first-child, input:last-child {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        @include border-radius(5px);
      }
    }
    #start {
      font-size: 1.1em;
      width: 100%;
    }
  }
  .helper {
    width: 85%;
  }
  .feature {
    &:hover {
      @include transform(scale(1));
      border-color: $border-ask-block-color-active;
    }
  }
  @keyframes rotate-card-normal {
    0% {
      @include transform(perspective(1000px) rotateY(0deg));
    }
    100% {
      @include transform(perspective(1000px) rotateY(90deg));
    }
  }
  
  @keyframes rotate-card-reverse {
    0% {
      @include transform(perspective(1000px) rotateY(-90deg));
    }
    100% {
      @include transform(perspective(1000px) rotateY(0deg));
    }
  }
  #restart {
    width: 100%;
    font-size: 1.3em;
    border-right: 0;
  }
}