/* Мобильные устройства */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0;
    border: 0;
  }
  .logo {
    display: none;
  }
  .login-window {
    form {
      width: 100%;
      .nav-profile-close {
        margin-left: -55px;
      }
    }
  }
  .categories {
    position: absolute;
    margin-left: 0;
    @include transform(rotate(90deg));
  }
  .burger {
    display: block;
  }
  .masonry[data-columns]::before {
    content: '1 .masonry-column';
  }
  .masonry-column {
    width: 100%;
    margin: 0;
  }
  .footer {
    height: 160px;
    .container {
      padding: 0;
      .links {
        clear: both;
        width: 100%;
        text-align: center;
      }
      span {
        clear: both;
        width: 100%;
        text-align: center;
      }
    }
  }
  .masonry-text[data-columns]::before {
    content: '1 .masonry-column-text';
  }
  .masonry-column-text {
    width: 100%;
  }
  .header-image {
    margin-bottom: 0 !important;
  }
  .info-share {
    float: none;
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 15px;
    border-bottom: 1px solid $borders;
    div {
      display: inline-block;
      width: 100% * 0.325 !important;
      height: 70px !important;
      text-align: center;
      border: 0 !important;
      overflow: hidden;
      &:nth-of-type(2) {
        border-left: 1px solid $borders !important;
        border-right: 1px solid $borders !important;
      }
      ul {
        top: -10px;
      }
    }
  }
  .main-content {
    float: none;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    h1 {
      font-size: 20px !important;
      margin-bottom: 15px !important;
    }
    .description {
      font-size: 17px !important;
      line-height: 20px !important;
      margin-bottom: 15px !important;
    }
  }
}

/* Планшетные решения */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 100%;
  }
  .masonry-column {
    width: 47.5%;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    h1 {
      font-size: 22px !important;
    }
  }
  .masonry-column-text {
    width: 100%;
  }
  .masonry[data-columns]::before {
    content: '2 .masonry-column';
  }
  .masonry-text[data-columns]::before {
    content: '1 .masonry-column-text';
  }
  .header-image {
    margin-bottom: 0 !important;
  }
  .info-share {
    float: none;
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 30px;
    border-bottom: 1px solid $borders;
    div {
      display: inline-block;
      width: 100% * 0.33 !important;
      height: 70px !important;
      text-align: center;
      border: 0 !important;
      overflow: hidden;
      &:nth-of-type(2) {
        border-left: 1px solid $borders !important;
        border-right: 1px solid $borders !important;
      }
      ul {
        top: -10px;
      }
    }
  }
  .main-content {
    float: none;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    h1 {
      font-size: 35px !important;
    }
  }
}

/* Устройства маленьких расширений */
@media screen and (min-width: 980px) and (max-width: 1279px) {
  .container {
    width: 980px;
  } 
  .masonry-column {
    width: 440px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  .masonry-column-text {
    width: 425px;
    &:first-of-type {
      margin-right: 30px;
    }
  }
  .masonry[data-columns]::before {
    content: '2 .masonry-column';
  }
  .masonry-text[data-columns]::before {
    content: '2 .masonry-column-text';
  }
  .header-image {
    margin-bottom: 0 !important;
  }
  .info-share {
    float: none;
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 30px;
    border-bottom: 1px solid $borders;
    div {
      display: inline-block;
      width: 100% * 0.33 !important;
      height: 70px !important;
      text-align: center;
      border: 0 !important;
      overflow: hidden;
      &:nth-of-type(2) {
        border-left: 1px solid $borders !important;
        border-right: 1px solid $borders !important;
      }
      ul {
        top: -10px;
      }
    }
  }
  .main-content {
    float: none;
    width: 100%;
    padding-left: 30px;
  }
}
 
/* Устройства с нормальными расширениями */
@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 1280px;
  }
  .masonry-column {
    width: 386.6px;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  .masonry-column-text {
    width: 485px;
    &:first-of-type {
      margin-right: 30px;
    }
  }
  .masonry[data-columns]::before {
    content: '3 .masonry-column';
  }
  .masonry-text[data-columns]::before {
    content: '2 .masonry-column-text';
  }
  .info-share {
    width: 175px;
  }
  .main-content {
    width: 1000px;
  }
}

/* Устройства с большими расширениями */
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
  .masonry-column {
    width: 493.3px;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  .masonry-column-text {
    width: 600px;
    &:first-of-type {
      margin-right: 30px;
    }
  }
  .masonry[data-columns]::before {
    content: '3 .masonry-column';
  }
  .masonry-text[data-columns]::before {
    content: '2 .masonry-column-text';
  }
  .info-share {
    width: 265px;
  }
  .main-content {
    width: 1230px;
  }
}