@keyframes drop-share {
  25% {
    @include transform(perspective(1000px) rotateX(45deg));
  }
  50% {
    @include transform(perspective(1000px) rotateX(-45deg));
  }
  75% {
    @include transform(perspective(1000px) rotateX(10deg));
  }
  100% {
    @include transform(perspective(1000px) rotateX(0deg));
  }
}

@keyframes jump-profile {
  50% {
    top: 55%;
  }
  100% {
    top: -50%;
  }
}

@keyframes jump-big-img {
  50% {
    top: 55%;
  }
  100% {
    top: -100%;
  }
}