/* Основные цвета */
$bg: #ffffff;
$title-color: #313131;
$text-color: #626262;
$dat-com: #9d9d9d;
$borders: #e7e7e7;

/* Цвета навигационного меню */
$nav-bg: #242424;
$nav-bg-active: #1e1e1e;
$nav-color: #ebebeb;
$nav-borders: #2e2e2e;
$nav-borders-active: #000000;